<footer>
  <div class="span6">
    <div class="text-center">
      © <script>document.write(new Date().getFullYear())</script>
      <a href="" target="_blank" class="footer_lnk">Koha Top Library Users</a>.
      All Rights Reserved.
    </div>
  </div>

  <div class="span6">
    <div class="text-center">
      Crafted with ❤️  by
      <a href="https://maheshpalamuttath.info/" target="_blank" class="footer_lnk" rel="noopener">
        Mahesh Palamuttath
      </a>
    </div>
  </div>
</footer>
